//registry.npmjs.org/:_authToken=${NPM_TOKEN}
//registry.yarnpkg.com/:_authToken=${NPM_TOKEN}

# Ensures we send an authorisation header for private packages
# https://github.com/yarnpkg/yarn/issues/2738
@q42philips:registry=https://registry.npmjs.org/
registry=https://registry.yarnpkg.com/